<app-card [caption]="car.model | uppercase"
          [value]="car.cost | currency:'EUR'">
  <main>
    <app-indicator *ngFor="let i of indicators"
                   [indicator]="i"></app-indicator>
  </main>
  <footer>
    <app-speed-controls *ngIf="hasBattery()"
                        [brakeDisabled]="isBrakeDisabled()"
                        [throttleDisabled]="isThrottleDisabled()"
                        (brake)="onBrake()"
                        (throttle)="onThrottle()">
    </app-speed-controls>
    <app-battery-recharger *ngIf="!hasBattery()"
                           (recharge)="onRecharge($event)">
    </app-battery-recharger>
  </footer>
</app-card>
