<article *ngIf="(car$ | async)!=null && (travel$ | async) !=null ; else loading">
  <app-driver-cockpit [car]="car"
                      [indicators]="indicators$ | async"
                      [hasBattery]="hasBattery()"
                      [isBrakeDisabled]="isBrakeDisabled()"
                      [isThrottleDisabled]="isThrottleDisabled()"
                      (brake)="onBrake()"
                      (throttle)="onThrottle()"
                      (recharge)="onRecharge($event)">
  </app-driver-cockpit>
  <hr>
  <app-travel-manager (save)="onSaveTravel()"
                      (delete)="onDeleteTravel()">
  </app-travel-manager>
</article>
<ng-template #loading>
  <h1>
    Loading car and travel data...
  </h1>
</ng-template>
