<app-card caption="Access to autobot">
  <main>
    <form #credentialForm="ngForm">
      <legend>
        Use your account or create a new one
      </legend>
      <div class="field">
        <label for="email"
               class="label">Email</label>
        <div class="control">
          <input name="email"
                 [(ngModel)]="credentials.email"
                 type="email"
                 class="input"
                 placeholder="Email input"
                 #emailModel="ngModel"
                 required>
        </div>
        <p *ngIf="emailModel.errors"
           class="help is-danger">We need a valid email</p>
      </div>
      <div class="field">
        <label for="password"
               class="label">Password</label>
        <div class="control">
          <input name="password"
                 [(ngModel)]="credentials.password"
                 type="password"
                 class="input"
                 placeholder="4 digits password"
                 #passwordModel="ngModel"
                 required
                 minlength="4">
        </div>
        <p *ngIf="passwordModel.errors"
           class="help is-danger">We need a valid password</p>
      </div>
    </form>
  </main>
  <footer>
    <section class="field is-grouped">
      <span class="control">
        <button class="button is-warning is-outlined is-large"
                [disabled]="!credentialForm.form.valid"
                (click)="onLogin()">Login</button>
      </span>
      <span class="control">
        <button class="button is-info is-outlined is-large"
                [disabled]="!credentialForm.form.valid"
                (click)="onRegister()">Register</button>
      </span>
    </section>
  </footer>
</app-card>
