<app-card caption="Access to autobot">
  <main>
    <form [formGroup]="form">
      <legend>
        Use your account or create a new one
      </legend>
      <div *ngIf="isNewAccount"
           class="field">
        <label for="name"
               class="label">Name</label>
        <div class="control">
          <input name="name"
                 formControlName="name"
                 type="text "
                 class="input"
                 placeholder="Your name, please">
        </div>
        <span *ngIf="mustShowError('name')">
          <p class="help is-danger">We need a name</p>
        </span>
      </div>
      <div class="field">
        <label for="email"
               class="label">Email</label>
        <div class="control">
          <input name="email"
                 formControlName="email"
                 type="email"
                 class="input"
                 placeholder="Email address">
        </div>
        <span *ngIf="mustShowError('email')">
          <p class="help is-danger">We need a valid email</p>
        </span>
      </div>
      <div class="field">
        <label for="password"
               class="label">Password</label>
        <div class="control">
          <input name="password"
                 formControlName="password"
                 type="password"
                 class="input"
                 placeholder="4 digits password">
        </div>
        <span *ngIf="mustShowError('password')">
          <p *ngIf="hasError('password', 'required')"
             class="help is-danger">We need a password</p>
          <p *ngIf="hasError('password', 'minlength')"
             class="help is-danger">We need at least {{getErrors('password').minlength.requiredLength}}
            digits</p>
          <p *ngIf="hasError('password', 'passwordMustHaveNumbers')"
             class="help is-danger">{{getErrors('password').passwordMustHaveNumbers}}</p>
        </span>
      </div>
      <div *ngIf="isNewAccount"
           class="field">
        <label for="confirmPassword"
               class="label">Confirm Password</label>
        <div class="control">
          <input name="confirmPassword"
                 formControlName="confirmPassword"
                 type="password"
                 class="input"
                 placeholder="repeat password">
        </div>
        <span *ngIf="mustShowError('confirmPassword')">
          <p *ngIf="hasError('confirmPassword', 'matchPassword')"
             class="help is-danger">Passwords do not match</p>
        </span>
      </div>
    </form>
  </main>
  <footer>
    <section class="field is-grouped">
      <span *ngIf="!isNewAccount"
            class="control">
        <button class="button is-warning is-large"
                [disabled]="form.invalid"
                (click)="onLogin()">Login</button>
      </span>
      <span *ngIf="isNewAccount"
            class="control">
        <button class="button is-info is-large"
                [disabled]="form.invalid"
                (click)="onRegister()">Register</button>
      </span>
      <span *ngIf="!isNewAccount"
            class="control">
        <button class="button is-outlined is-large"
                (click)="onNoAccount()">I don´t have an account yet.</button>
      </span>
      <span *ngIf="isNewAccount"
            class="control">
        <button class="button is-outlined is-large"
                (click)="onAccount()">I already have an account.</button>
      </span>
    </section>
  </footer>
</app-card>
